<% @users.each do |user| %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">번호</th>
      <th scope="col">이름</th>
      <th scope="col">회원</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= user.id %></th>
      <td><%= user.name %></td>
      <td><%= user.role %></td>
    </tr>
  </tbody>
</table>
<% end %>
