<div class="facerecognition">
<img src = "\assets\facerecognition.PNG" id="faceIcon">
<h1>출석체크를 하겠습니다 </h1>
<h1>얼굴을 가까이 해주세요 </h1>


  <%= form_for(@id) do |f| %>
  <div id="my_camera" style="width:640px; height:480px;"></div>

  <input type=button value="사진촬영" onClick="take_snapshot()">

  <script language="JavaScript">
  function take_snapshot(){
      Webcam.snap(function(data_uri) {
          id = $('[id*="_image"]');

          if (id.length) {
              id.val(data_uri);
          }

          document.getElementById('my_result').innerHTML = '<img src="' + data_uri + '"/>';
      });
  }
  $(document).ready(function() {
      if ($("#my_camera").length) {
          Webcam.set({
              width: 640,
              height: 480,
              image_format: 'jpeg',
              jpeg_quality: 90
          });

          Webcam.attach('#my_camera');
      }
  });

  </script>

  <div class="field">
    <%= f.hidden_field :image %>
    <%= f.label :image %>: <br />
    <div id="my_result"> 캡쳐한 화면이 이곳에 나타납니다.</div>
  </div>


  <form action="/ids" method="post" data-remote="true">
    <input type="submit" name="commit">
  </form>


    <% end %>

</div>
