/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


 *{
   font-family: 'Noto Sans KR', sans-serif;
 }

 .main{
   margin-top: 3rem;
   margin-left: 15rem;
   margin-right: 15rem;
   margin-bottom: 10rem;
   border-width: 1px;
 }

 /* .mainHeader{
   text-align: center;
 } 왜 안되지?*/
 .mainTable{
   border-style: solid;
   border-width: 1px;
   border-color: #ddd;
   margin: 0 10px 10px 0;
 }

 #hr {
    background-color: #ddd !important;
    height: 2px !important;
 }
.todayProgramTitle{
  background-color: #3d3d3d;
  height:6rem;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.card-img-top{
  min-height: 11rem;
  max-height: 11rem;
}
.mainbutton{
  padding-right: 0px;
  padding-left: 0px;
}
.mainButton1{
  text-align: center;
  padding-top: 35%;
  height: 180px;
  width: 100%;
  background:#50b849;
  color: white;
  font-weight: 500;
}
.mainButton2{
  text-align: center;
  padding-top: 35%;
  height: 180px;
  width: 100%;
  background:#0086d1;
  color: white;
  font-weight: 500;
}
.stit{
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  background-color: #28a745;
  margin: 10px auto;
  margin-top: 22px;
}

.footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.facerecognition{
  text-align: center;
}
#faceIcon{
  width:150px;
  height: auto;
}
#my_camera{
   margin: 0 auto;
}




#link{
  padding-left: 10rem;
}
