.form-horizontal{
  margin: 0 auto;
  display: inline-block;
}
.help-block{
    text-align: left;
    font-size: 0.8rem;
}
.linee{
    margin-top : 1%;
    margin-bottom: 3%;
    border-top: 2px solid #000;
    width: 58%;
}
.ppage-header{
  margin-top: 5%;
}
.hheader{
  width: 58%;
  margin: 0 auto;
  text-align: left;
  font-size: 3rem;

}
jwgjwelkgwjeqlkwqjgklwge
